section {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 2.5fr 1.5fr;
	grid-template-rows: 60px auto;
}

.blog-page {
	grid-template-columns: 1fr 1fr;
}

.blog-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blog-content {
	grid-area: 2 / 1 / 3 / 1;
}

.more-posts {
	grid-row: span 2;
}